CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

DB_HOST=your_db_external_host_or_ip
DB_HOST_INTERNAL=your_db_internal_host
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_PORT=5432
# Alternatively, Render may inject this directly:
# DATABASE_URL=postgresql://user:password@host:port/dbname
